@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --column-height: 0px;
}

.journey-container {
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    column-gap: 1rem;
    position: relative;
}

/* .vertical::before{
    content: '';
    position: absolute;
    width: 2px;
    height: var(--column-height);
    background-color: #d1d5db;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
} */

@keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .container-content {
    animation-duration: 0.8s;
    animation-fill-mode: both;
  }
  
  .container-content.visible {
    animation-name: slideIn;
  }